<div class="bg-dark pt-2 pb-2">
    <div class="row mx-3">
        <div class="col">
            <a class="navbar-brand px-5 text-white" href="index.html"><i class="fa fa-graduation-cap"></i> Mentor On
                Demand</a>
        </div>
        <div class="col mx-3 ">
            <ul class="nav nav-pills justify-content-end text-white">
                <li class="nav-item">
                    <a class="nav-link text-white" href="index.html">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Notifications <span
                            class="badge badge-light">0</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="index.html">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>